[submodule "Carthage/Checkouts/Functional"]
	path = Carthage/Checkouts/Functional
	url = https://github.com/ilidar/Functional.git
[submodule "Carthage/Checkouts/Kiwi"]
	path = Carthage/Checkouts/Kiwi
	url = https://github.com/kiwi-bdd/Kiwi.git
[submodule "Carthage/Checkouts/MagicalRecord"]
	path = Carthage/Checkouts/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Carthage/Checkouts/OMGHTTPURLRQ"]
	path = Carthage/Checkouts/OMGHTTPURLRQ
	url = https://github.com/mxcl/OMGHTTPURLRQ.git
[submodule "Carthage/Checkouts/PromiseKit"]
	path = Carthage/Checkouts/PromiseKit
	url = https://github.com/mxcl/PromiseKit.git
